.content {
  padding-top: 30px;
}

.button-success {
  background: rgb(28, 184, 65);
  font-size: 70%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

li {
  padding-bottom: 20px;
  padding-top: 10px;
}
